/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    text-align: left;
}

header {
    background-color: darkgrey;
    color: white;
    padding: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.nav-links li {
    padding: 15px;
}

.nav-links a {
    color: blue;
    text-decoration: none;
    font-size: 30px;
}

.nav-links a:hover {
    color: tan;
    font-size: 20px;
}
/*
.nav-links: a:visited {
    color: purple;
}
*/
.content {
    display: flex;
    padding: 20px;
    background-color: tan;
}

.box {
    background-color: lightblue;
    padding: 30px;
    width: 200px;
    height: 500px;
    text-align: center;
}

@media (max-width; 760px)
.nav-links {
    flex-direction: column;
}
    
