/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    text-align: center;
}

header {
    background-color: darkgrey;
    color: white;
    padding: 15px;
}

.nav-links {
    display: flex;
}
